<!doctype html>
<html lang="{{ locale }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token }}">

    <title>{{ site_name || "Statamic" }}</title>

    <!-- Styles -->
    <link href="/css/site.css" rel="stylesheet">
</head>
<body class="bg-grey-lightest h-screen antialiased">

    {{ template_content }}

    <!-- Scripts -->
    <script src="/js/site.js"></script>
</body>
</html>
